<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="swaglabsprj">

	<test name="EcommerceApp Test1">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.swaglabsprj.testCases.TC_loginTest_001" />
			<class name="com.swaglabsprj.testCases.TC_addCart_002" />
		</classes>

	</test>
<!-- 
	<test name="EcommerceApp Test">
		<parameter name="browser" value="edge" />
		<classes>
			<class name="com.swaglabsprj.testCases.TC_loginTest_001" />

		</classes>

	</test>
	
-->
</suite>